[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
startCommand = "node .output/server/index.mjs"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
